.badge {
  padding: 1rem 1.3rem;
  border-radius: 50%;
  color: white;
  background-color: rgba(101, 64, 101, 0.7);
  box-shadow: 1px 2px 3px 4px rgba(101, 64, 101, 0.2);
  position: absolute;
  top: 1rem;
  right: -1rem;
}
