.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.heading__text {
  color: rgba(101, 64, 101, 0.8);
}

.heading__quote {
  font-size: small;
}

@media screen and (min-width: 768px) {
  .heading {
    width: 30%;
  }
}
