.nav-bar {
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: rgba(101, 64, 101, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
}

.nav-bar__brand a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 1px 3px 1px red;
  font-style: oblique;
}

.nav-bar__items {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: none;
  gap: 20px;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: rgba(101, 64, 101, 0.98);
    padding: 0.3rem 1rem;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
  }
}
.search-icon {
  font-size: large;
  margin: auto;
  transition: all 200ms ease-in-out;
}
.search-icon:hover {
  font-size: 1.5rem;
}

.bar-icon {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .bar-icon {
    display: none;
  }
  .nav-bar__items {
    display: flex;
  }
}
