.footer {
  background-color: rgba(101, 64, 101, 1);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__brand {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2rem;
}
